@charset "EUC-KR";
#all_average_graph_table{
		
	background-image:url('./Resources/img/graph_table.png');
	width:785px;
	height:330px;
	background-repeat: no-repeat;
	background-size:785px 330px; 
	margin-bottom:10px;
	
}
#average_graph{
	width: 740px;
	height:240px;
	padding:14px 10px 14px 18px;
}
#major_graph{
	width: 740px;
	height:240px;
	padding:14px 10px 14px 18px;
}
#goal_number{
	height: 120px;
	padding: 42px 0px 0px 0px;
	text-align: center;
}
#goal_sentence{
	width:230px;
	height:140px;
	padding: 17px 15px 15px 15px;
	text-align:center;
	line-height: 30px;
	letter-spacing:1px;
}
#major_average_graph_table{
	
	background-image:url('./Resources/img/graph_table.png');
	width:785px;
	height:330px;
	background-repeat: no-repeat;
	background-size:785px 330px; 
	margin-bottom:10px;
}
#goal_average_number{
	background-image:url('./Resources/img/average_table.png');
	width:160px;
	height:160px;
	background-size:160px 160px;
	margin-right:10px;
	
}
#allSocre_average_number{
	background-image:url('./Resources/img/average_table.png');
	width:160px;
	height:160px;
	background-size:160px 160px;
	margin-right:10px;
}
#major_average_number{
	background-image:url('./Resources/img/average_table.png');
	width:160px;
	height:160px;
	background-size:160px 160px;
	margin-right:10px;
}
#goal_average{
	background-image:url('./Resources/img/goal_background.png');
	width:260px;
	height:160px;
	background-size:260px 160px;
}
#graph_subject{
	font-weight:bold; 
	width:785px;
	height:40px;
	font-size:18px;
	padding:12px 0px 0px 16px;
	overflow:hidden;
}	
#number_subject{
	font-weight:bold; 
	width:160px;
	height:40px;
	font-size:18px;
	padding:17px 2px 0px 7px;
	overflow:hidden;	
}

#goal_button {
	background-image: url('./Resources/img/goal_button.png');
	background-color: rgba(0, 0, 0, 0);
	width: 75px;
	height: 22px;
	border: none;
	margin-top: 10px;
	cursor: pointer;
}

#popup1 {
	position: fixed;
	width: 322px;
	height: 220px;
	background: url('./Resources/img/plus_background.png');
	top: 50%;
	left: 50%;
	margin-left: -186px;
	margin-top: -150px;
	padding: 15px 25px 15px 25px;
	background-repeat: no-repeat;
	z-index: 9999;
}

#mask{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:#000;
  opacity:.8; 
  filter:alpha(opacity:30);
  z-index: 1;
}
	
.popup_content {
	display: block;
	text-align: center;
	align-items: center;
	padding-bottom: 10px;
}

#closebox {
	width: 54px;
	height: 26px;
	vertical-align: middle;
	background: url('./Resources/img/cancle_button.png');
	border: none;
	cursor: pointer;
}

#checkbox {
	width: 54px;
	height: 26px;
	vertical-align: middle;
	background: url('./Resources/img/check_button.png');
	border: none;
	margin-right: 20px;
	cursor: pointer;
}