body {
	margin: 0;
	background-color: #9686cc;
	overflow: visible;
}

.layout {
	display: flex;
}

.layout .left-box {
	flex: 1;
	height: 100vh;
}

.layout2 {
	background-color: #ffffff;
	flex: 7;
	overflow: auto;
	height: 100vh;
}

.layout2 .center-box {
	background-color: #9686cc;
	flex-basis: 234px;
	text-align: center;
	height: 100vh;
	position: fixed;
}

.layout2 .right-box {
	margin-left: 234px;
	background-color: #ffffff;
}

#menu {
	margin-top: 40px;
	background-image: url('../img/menu.png');
	width: 234px;
	height: 314px;
	background-repeat: no-repeat;
	background-position: center center;
}

#link {
	margin-top: 20px;
	background-image: url('../img/link.png');
	width: 234px;
	height: 194px;
	background-repeat: no-repeat;
	background-position: center center;
}

.side_text {
	text-align: left;
	padding: 55px 0px 0px 40px;
	line-height: 40px;
	color: #566270;
	font-family: 나눔고딕;
}

.head_text {
	font-size: 10pt;
	color: #000000;
	font-family: 나눔고딕;
}

.side_text a:link {
	color: #566270;
	text-decoration: none;
}

.side_text a:visited {
	color: #566270;
	text-decoration: none;
}

.side_text a:hover {
	color: #ffffff;
	background: #9686cc;
	text-decoration: none;
}

.title {
	background-image: url('../img/title_bar.png');
	background-size: 785px auto;
	height: 15.02mm;
	padding: 0px 0px 0px 16px;
	overflow: hidden;
}

.article {
	margin-top: 15px;
	width: 785px;
	height: 500px;
}

.article a {
	color: #000000;
	text-decoration: none;
}

#logout {
		width: 60px;
		height: auto;
		vertical-align: middle;
		cursor: pointer;
}