.table {
	margin-left:10px;
	margin-right:10px;
	width:380px;
}

table.content {
    border-collapse: separate;
    border-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    border-top: 1px solid #ccc;
}
table.content th {
    width: 130px;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    background: #efefef;
}
table.content td {
    width: 230px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#normal_graph{
		
	background-image:url('../img/graph_table.png');
	width: 785px;
	height:400px;
	background-repeat: no-repeat;
	background-size:785px 400px; 
	margin-right:10px;
	margin-bottom:10px;
		
}
#bottom_table{
	
	width:600px;
	height:300px;
}
#subject{
	
	font-weight:bold; 
	width:785px;
	height:40px;
	font-size:18px;
	padding:15px 0px 0px 15px;
	overflow:hidden;
	
}
#graph{
	width:650px;
	height:350px;
	padding:10px 10px 10px 12px;
}