@charset "EUC-KR";

#page_number a {
	font-size: 10pt;
	color: #566270;
	text-decoration: none;
}

.view_table table {
	width: 785px;
	text-align: center;
	border-top: 5px solid #dddddd;
	border-bottom: 5px solid #dddddd;
	border-collapse: collapse;
	margin-bottom: 10px;
	font-size: 10pt;
}

.view_table .td_head {
	width: 100px;
	padding: 15px;
	background-color: #f9f9f9;
	text-align: center;
}

.view_table .td_body {
	padding: 5px;
	text-align:left;
}

.view_table input[type=text] {
	width: 645px;
}

.view_table textarea {
	width: 645px;
	height: 190px;
	resize: none;
}

.buttons img {
	height: 22px;
	width: auto;
}

#plus {
	width: 15px;
	height: auto;
}

#plus:hover {
	cursor: pointer;
}

.counter {
	color: #aaa;
	float: right;
	margin: 5px 0px 5px 0px;
}